h1 {
  color: red;
  text-align: center;
  font-size: 75px;
  font-family: fantasy;
  font-weight: bold;
}
p {
  color: pink;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  font-size: x-large;
}
body {
  background-color: black;
}
button {
  font-family: fantasy;
  font-weight: bold;
  border: 3px red;
  margin-left: 10px;
  color: rgb(105, 6, 6);
}
.middle {
  margin: 0 auto;
  text-align: center;
}
